.overlay-header__close {
  height: 40px;
  line-height: 40px;
}
.overlay-header__close {
  float: left;
  margin-right: 10px;
  border: none;
  background: none;
  cursor: pointer;
}

.overlay-header__title {
  float: left;
  font-weight: bold;
  line-height: 40px;
}