*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background: #fff;
  font-family: 'Lato', sans-serif !important;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}

a {
  -webkit-tap-highlight-color: transparent;
  font-family: 'Lato', sans-serif !important;
  text-decoration: none;
}

code, pre {
  font-family: 'consolas';
}

.app__container {
  display: block;
  margin: 0 auto;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  position: relative;
  width: 100%;

  @media screen and (min-width: 1279px) {
    width: 1279px;
  }
}